<div class="container">

  <div class="row">
    <div class="col-xs-12 ">
      <h1 class="page_headline"> <%= "#{@building.name.split.map(&:capitalize).join(" ")}'s Room List" %></h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= link_to my_acs_path, style: "font-size: 15px;" do %>
        <i class="fas fa-arrow-left"></i> To Dashboard
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <div class="building_floorplan_outer">
        <div class="building_floorplan_inner">
          <img src="https://static1.squarespace.com/static/558b0741e4b06f25237894f2/t/5a90cd50c830257a34234405/1519439194245/unfurnished+(87).png?format=1500w" alt="">
        </div>
      </div>
      <hr class="hidden-sm hidden-md hidden-lg hidden-xl">
    </div>

    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="list_page_outer">
        <div class="list_page_inner">
          <table class="list_table table-condensed">
            <tr>
              <th></th>
              <th class="hidden-xs">Room Size</th>
              <th>Room Temp</th>
              <th>Room Humidity</th>
            </tr>
            <% @all_rooms.where(building: @building).each do |room| %>
              <tr>
                <td><%= link_to room.name.split.map(&:capitalize).join(" "), building_room_path(@building.id, room.id) %></td>
                <td class="hidden-xs"><%= room.sqm %>m2</td>
                <td><%= room.temp.round(1) %>째</td>
                <td><%= room.humidity.round(1) %>%</td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-4">
      <h5 align="center" style="font-weight: bold; color: rgba(58,130,180,1) !important; text-decoration: underline;">Outside Temp Log: Pasted 30 days</h5>
      <ul>
        <li>Avg. Temperature: <%= "#{(@outside_temp_array.reduce(:+) / @outside_temp_array.count).round(1)}째" %></li>
        <li>Avg. Humidity: <%= "#{(@outside_hum_array.reduce(:+) / @outside_hum_array.count).round(1)}%" %></li>
        <li>High Temperature: <%= "#{@outside_temp_array.sort.pop}째" %></li>
        <li>High Humidity: <%= "#{@outside_hum_array.sort.pop}%" %></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="bar_chart_container">
        <table>
          <tr>
            <% @outside_temp_array.each do |temp| %>
            <td title='<%= "#{temp}째" %>'>
              <div style='height: <%= "#{((1 - (temp / (@outside_temp_array.sort{ |x,y| y <=> x }.first) )) * 200).to_i}" %>px;'></div>
              <span class="hidden-xs"><%= "#{temp}" %></span>
            </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
